body{
background:#2B3856;
}
div{
  padding: 10px;
  margin: 5px;
}
#header{
background:wheat;
border-radius: 10px;

}

#menu{
  background: #2B3856;
    box-shadow: 1px 1px 2px #fff;

}
#menu ul {

list-style-type: none;
}
#menu ul li {
display: inline-block;
clear: none;
height: 5px;
} 

#menu ul li a{ 
    padding: 1px;
display: block;
line-height: 25px;
background: #87AFC7;
z-index: 9999;
border: double #ffffcc;
border-radius: 10px;
width: 100px;
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
text-align: center;
margin-right: 25px;
color:black;
}
#menu ul li a:hover{
background: #B6B6B4;
color:white;
}
#menu ul li a.selected{
   background: #99dd00;
}
#logo{
}
span {
font:bold 32pt High Tower Text;
color: white; 
text-transform:capitalize;
padding:10px;

}
h2, h3{ 
	font-family: Sakkal Majalla;
	font-weight: bold;
text-transform: capitalize;
}
h2{
	font-size:28pt; 
}
h3{
	font-size:23pt; 
}
#side{
   background: wheat;
  width: 25%;
float:left;
    border-radius: 10px;
    padding: 20px 10px;
}
#sidess { 
  margin-top: 20px;
    border-radius: 10px;
   background: #99dd00;
    box-shadow: 1px 1px 2px #fff;
}
#sidess a img{ 
  padding: 2px;
  margin-left: 3px;
opacity:0.5;
}
#sidesss img:hover{
    border-radius: 10px;
  background: white;
opacity:1.0;
}
#sidess img{
	width: 30px;
	height: 30px;
}
#sidein{
   background: gray;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #fff;
}
#sidein ul li{ 
	list-style-type: circle;
    margin-top: 10px;
}
#sidein ul li a{ 
  background: #B6B6B4;
font:bold 10pt verdana;
text-decoration: none;
 padding: 5px;
 border-radius: 10px;
text-transform: capitalize;
}
#sidein ul li a:hover{
color: black;
text-decoration: underline;
}
#sidein ul li a.selected{
    box-shadow: 1px 1px 2px #fff;
color: black;
}
#content{
    background: ;
  overflow: hidden;
}
#main{ 
	background: wheat;
  width: 70%;
 background: ;
float:right;
border-radius: 10px;
    box-shadow: 1px 1px 2px #fff;
}
#gallery {
margin: auto;
overflow: hidden;
    box-shadow: 1px 1px 2px #fff;
}
#gallery ul{
  list-style: none;
}
#gallery li{
float: left;
margin: 5px;
}

#gallery img{
  width: 400px;
  height: 400px;
border:10px groove wheat;
margin:2px;
 padding: 5px;
  display: block;
    box-shadow: 1px 1px 2px #fff;

}
#gallery img:hover{
	background: white;
}
#img{
  background:lime;
    box-shadow: 1px 1px 2px #fff;
  
}
big{
font: bold 16pt Calibri;
}
p, td {
	word-spacing: 5px;
	font:normal 14pt Calibri;
}
#footer{
 background:#2B3856;
   box-shadow: 1px 1px 2px #fff;
   padding: 3px;
   margin: 5px 0 0 0;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;

}
#footer a{
  margin: 5px;
  padding: 2px 5px 2px 5px;
font:bold 10pt arial;
color: black;
text-decoration: none;
}
#footer a:hover{  
color:white;
text-decoration: underline;
}
#footer a.selected{  
    box-shadow: 1px 1px 2px #fff;
color:black;
}
    
#main p{
  padding: 1px;
}
#main a{
  margin-left: 1sspx;
  padding: 2px 5px 2px 5px;
font:bold 16pt verdana;
color: olive;
text-decoration: none;

}
#main a:hover{
    box-shadow: 1px 1px 2px #fff;
}
th{
	text-align: left;
}
